body {
    background-image: url(/imgs/robot-toy-grey-first-plane.jpg);
    background-size: cover;
    //background-position: center;
    background-repeat: no-repeat;
    font-family: "Bubbler One";
    background-color: #D3d3d3;
    font-size: 1.3rem;
}

.container {
    width: 100%;
    height: auto;
    max-width: 100%;
    position: relative;
}


/*Header Brand Styles*/

#header-brand {
    font-size: 4rem;
    text-shadow: 2px 4px 6px #0F0F0F, 4px 8px 12px #696969;
    padding-left: 10px;
    padding-top: 60%;
    margin-bottom: 10px;
}

#header-brand a {
    text-decoration: none;
    color: inherit;
}

#header-brand a:hover {
    text-shadow: 2px 4px 6px #0F0F0F, 4px 8px 12px #484848;
}


/*Heading Styles*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}


/*Side Nav Styles*/

div.sidenav {
    background-color: rgba(241, 241, 241, .65);
    width: 25%;
    height: 100%;
    position: fixed;
    margin: 0;
    margin-top: -8px;
    margin-left: -8px;
    padding: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 6px #696969;
}

div.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    //background-color: rgba(241, 241, 241, .65);
    position: fixed;
    height: 100%;
    overflow: auto;
}

div.sidenav ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

div.sidenav ul li a.active {
    background-color: rgb(179, 66, 244);
    box-shadow: 2px 2px 2px #696969;
    font-weight: 700;
}

div.sidenav ul li a:hover {
    color: #f1f1f1;
    transition: .3s;
}

div.sidenav ul li a:hover:not(.active) {
    background-color: #555;
    box-shadow: 2px 2px 2px #696969;
    transition: .3s;
}


/*Center Screen Content*/

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 100%;
    padding-top: 15%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.content .inner-content {
    background-color: rgba(241, 241, 241, .85);
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #696969;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.content #inner-content-contact {
    background-color: rgba(241, 241, 241, .85);
    width: 60%;
    height: 450px;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #696969;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/*Contact Form*/

form {
    width: 100%;
}

label.contact-form {
    text-align: left;
    padding: 5px;
}

input[type="text"],
input[type="email"] {
    padding: 1% 4%;
    width: 50%;
    margin: 6px auto;
    text-align: center;
    vertical-align: middle;
    font-family: "Open Sans", sans-serif;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid rgb(179, 66, 244);
    box-shadow: 2px 2px 4px #696969, 4px 4px 6px #454545;
    transition: .2s;
}

input placeholder {
    font-family: "Open Sans", sans-serif;
}

textarea[placeholder] {
    text-align: center;
}

textarea {
    padding: 1% 4%;
    width: 50%;
    margin: 6px auto;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    resize: none;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    outline: none;
}

]::webkit-textarea-placeholder {
    text-align: center;
}

:moz-textarea-placeholder {
    text-align: center;
}

::moz-textarea-placeholder {
    text-align: center;
}

:ms-textarea-placeholder {
    text-align: center;
}

input[type="radio"] {
    margin-bottom: 2%;
}


/*Find Friend Button*/

div.content .inner-content #friend-button {
    display: block;
    width: 25%;
    padding: 10px;
    margin: auto;
    border: 2px solid #696969;
    border-radius: 10px;
    background-color: rgb(179, 66, 244);
    box-shadow: 1px 1px 4px #000;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.2rem;
}

div.content .inner-content #friend-button:hover {
    box-shadow: 4px 2px 8px #000, 6px 6px 14px #525252;
    font-weight: 700;
    transition-duration: .5s;
}


/*Next Buttons*/

.next-button {
    display: inline-block;
    width: 15%;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    border: 2px solid #696969;
    border-radius: 10px;
    background-color: rgb(179, 66, 244);
    box-shadow: 1px 1px 4px #000;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.1rem;
}

.next-button:hover {
    box-shadow: 4px 2px 8px #000, 6px 6px 14px #525252;
    font-weight: 700;
    transition-duration: .15s;
}


/*Submit Button*/

.submit-button {
    display: block;
    width: 15%;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    border: 2px solid #696969;
    border-radius: 10px;
    background-color: rgb(179, 66, 244);
    box-shadow: 1px 1px 4px #000;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.1rem;
}


/*Footer*/

footer {
    font-size: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(241, 241, 241, .65);
    box-shadow: -2px -2px 6px #696969;
    border-radius: 10px;
    padding: 5px;
}


/* Media Query 768*/

@media screen and (max-width: 768px) {
    #header-brand {
        font-size: 2rem;
        width: 100%;
        position: relative;
        float: left;
        margin-top: -60%;
    }
    div.sidenav,
    div.sidenav ul {
        width: 100%;
        height: auto;
        position: relative;
    }
    div.sidenav ul li a {
        float: left;
        padding: 15px;
    }
    div.content {
        margin: auto;
        margin-bottom: 10%;
    }
    div.content .inner-content {
        margin: auto;
        width: 80%;
        text-align: center;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 90%;
    }
    /*
    footer{
        z-index: -1;
    }
*/
}


/* Media Query 400*/

@media screen and (max-width: 400px) {
    div.sidenav ul li a {
        text-align: center;
        float: none;
    }
    #header-brand {
        text-align: center;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 90%;
    }
    div.content .inner-content {
        margin-bottom: 15px;
        margin-top: -10px;
    }
    footer {
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 15px;
        /*        z-index: -1;*/
    }
}
